<style>
  .site-footer {
    background-image: url('{{ 'footer-d.webp' | asset_url }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    .site-footer {
      background-image: url('{{ 'footer-m.webp' | asset_url }}');
    }
  }
</style>

<section class="site-footer flex md:flex-row flex-col md:px-10 px-4 md:py-20 py-10 text-main-blue">
  <!-- Left Column -->
  <div class="md:w-1/2 w-full flex flex-col gap-5 md:pb-0 pb-5">
    <h3 class="font-montserrat-bold font-bold md:max-w-5/12 md:text-2xl text-xl">{{ section.settings.footer_title }}</h3>
    <input type="text" class="border border-black rounded-full bg-white h-13 md:w-100 w-full pl-5">
  </div>
  <!-- Right Column -->
  <div class="grid w-full grid-cols-1 gap-8 text-[14px] md:w-1/2 md:grid-cols-3 md:gap-12">
    <div class="flex flex-col gap-6">
      <div>
        <h4 class="mb-3 font-montserrat-bold font-bold">Baby Planet</h4>
        <ul>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Для прання дитячих речей</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Для дитячого посуду та іграшок</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Для дитячих поверхонь</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Для підлоги</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Подарункові набори</a>
          </li>
        </ul>
      </div>

      <div>
        <h4 class="mb-3 font-montserrat-bold font-bold">My Planet</h4>
        <ul>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Універсальні засоби</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Засоби для миття посуду</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Засоби для скла</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Засоби для прання</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Засоби для посудомийних машин</a>
          </li>
          <li>
            <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Спеціальні засоби</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <h4 class="mb-3 font-montserrat-bold font-bold">Меню</h4>
      <ul>
        {%- for link in linklists['main-menu'].links -%}
          <li>
            <a href="{{ link.url }}" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <div>
      <h4 class="mb-3 font-montserrat-bold font-bold">Допомога</h4>
      <ul>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Звʼязатися з нами</a>
        </li>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Доставка та оплата</a>
        </li>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Поширені запитання</a>
        </li>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Політика конфіденційності</a>
        </li>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Умови використання</a>
        </li>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Повернення товарів</a>
        </li>
        <li>
          <a href="#" class="inline-block transition-all duration-200 hover:text-dark-blue hover:underline focus-visible:text-dark-blue focus-visible:underline">Карта сайту</a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_title",
      "label": "Footer Title",
      "default": "Підпишіться на новини та спеціальні пропозиції"
    }
  ]
}
{% endschema %}
